.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  margin-top: 120px;
  height: 400px;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .header {
    width: 50%;
    margin: 140px 1em 1em 1em;
  }

}

.header-image {
  max-width: 200px;
}

.header-image img {
  width: 100%;
}

.header-username {
  font-size: 1.5em;
}