.main-tweeter {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  width: 90%;
  background-color: #fff;
  
}

@media screen and (min-width: 960px) {
  .contents{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: flex-start;
  }
  .main-tweeter{
    margin: 140px;
  }

}

.main-tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid grey;
  margin: 1em;
}

.main-tweet:hover {
  box-shadow: 5px 10px;

}

.main-tweet-head {
  display: flex;
  margin: 1em;
  height: 2em;
  justify-content: space-between;

}

.username {
  display: flex;
  align-items: center;

}

.username img {
  max-width: 48px;
  margin: 0 0.5em;
}

.handle {
  color: #808080;
}

.tweet {
  display: flex;
  margin: 1em;

}

.error {
  border: 3px solid red;
  color: red;
  padding: 1em;
}

.main-tweet-footer {
  display: flex;
  font-size: 0.75em;
  padding-top: 0.25em;
  border-top: 3px solid grey;
  margin: 1em;
  height: 2em;
  justify-content: space-between;
  align-items: center;
}


.icons {
  display: flex;
  width: 100px;
  font-size: 1em;
  justify-content: space-between;
  align-items: center;
  color: #4056A1;
}

.icons i:hover {
  color: yellow;
}

.toTop {
  padding: 1em 1em;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: none;
  overflow: hidden;
  margin: 1em;
}