.new-tweet {
  color: #545149;
  margin-bottom: 1em;
}

.tweet-input {
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-bottom: 5px solid grey;
  color: #545149;
}

.tweet-input:focus {
  outline: none;
}

.new-tweet-footer {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.tweet-button {
  font-size: medium;
  color: #fff;
  background-color: #4056A1;
  border-color: grey;

}

.tweet-form {
  width: 100%;
}